In [1]:
import pandas as pd
import matplpotlib.pyplot as plt
import nump as np
import seaborn as sns

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

ModuleNotFoundError: No module named 'matplpotlib'

In [16]:
df = pd.read_csv('Movie_budgets_and_ratings')
# df[df['movie'] == 'The Texas Chainsaw Massacre']
df[df.duplicated(subset=['movie', 'release_date'], keep=False)]

,Unnamed: 0,release_date,movie,production_budget,domestic_gross,worldwide_gross,genre_ids,id,original_language,original_title,popularity,release_date.1,title,vote_average,vote_count
8,8,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209","[28, 12, 14, 878]",141052.0,en,Justice League,34.953,2017-11-17,Justice League,6.2,7510.0
9,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209","[28, 12, 14, 878]",141052.0,en,Justice League,34.953,2017-11-17,Justice League,6.2,7510.0
10,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923","[28, 12, 80]",206647.0,en,Spectre,30.318,2015-11-06,Spectre,6.4,6719.0
11,11,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923","[28, 12, 80]",206647.0,en,Spectre,30.318,2015-11-06,Spectre,6.4,6719.0
40,40,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006","[12, 16, 10751]",114612.0,en,Storybook Classics - Robin Hood,0.680,2013-01-31,Robin Hood,5.7,3.0
41,41,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006","[12, 28, 53]",375588.0,en,Robin Hood,39.975,2018-11-21,Robin Hood,5.8,1194.0
42,42,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006","[28, 12, 18]",20662.0,en,Robin Hood,15.444,2010-05-14,Robin Hood,6.3,2569.0
45,45,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224","[28, 12, 14, 878]",284054.0,en,Black Panther,44.140,2018-02-16,Black Panther,7.4,12365.0
46,46,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224","[28, 16]",86841.0,en,Black Panther,2.058,2011-01-18,Black Panther,5.1,11.0
49,49,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856","[28, 12, 878]",330459.0,en,Rogue One: A Star Wars Story,21.401,2016-12-16,Rogue One: A Star Wars Story,7.5,9296.0
50,50,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856","[28, 12, 878]",330459.0,en,Rogue One: A Star Wars Story,21.401,2016-12-16,Rogue One: A Star Wars Story,7.5,9296.0
56,56,"Mar 5, 2010",Alice in Wonderland,"$200,000,000","$334,191,110","$1,025,491,110","[10751, 14, 12]",12155.0,en,Alice in Wonderland,22.020,2010-03-05,Alice in Wonderland,6.6,8713.0
57,57,"Mar 5, 2010",Alice in Wonderland,"$200,000,000","$334,191,110","$1,025,491,110",[],423971.0,en,Alice in Wonderland,0.600,2010-01-01,Alice in Wonderland,6.0,1.0
79,79,"Nov 25, 2015",The Good Dinosaur,"$187,500,000","$123,087,120","$333,771,037","[12, 16, 10751]",105864.0,en,The Good Dinosaur,17.675,2015-11-25,The Good Dinosaur,6.7,3135.0
80,80,"Nov 25, 2015",The Good Dinosaur,"$187,500,000","$123,087,120","$333,771,037","[12, 16, 10751]",105864.0,en,The Good Dinosaur,17.675,2015-11-25,The Good Dinosaur,6.7,3135.0
84,84,"Jun 22, 2012",Brave,"$185,000,000","$237,282,182","$554,606,532","[16, 12, 35, 10751, 28, 14]",62177.0,en,Brave,18.908,2012-06-22,Brave,6.9,8116.0
85,85,"Jun 22, 2012",Brave,"$185,000,000","$237,282,182","$554,606,532",[28],25946.0,th,กล้าหยุดโลก,0.600,2010-01-19,Brave,5.0,1.0
88,88,"Oct 6, 2017",Blade Runner 2049,"$185,000,000","$92,054,159","$259,357,408","[878, 28, 53]",335984.0,en,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679.0
89,89,"Oct 6, 2017",Blade Runner 2049,"$185,000,000","$92,054,159","$259,357,408","[878, 28, 53]",335984.0,en,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679.0
91,91,"Nov 3, 2017",Thor: Ragnarok,"$180,000,000","$315,058,289","$846,980,024","[28, 12, 35, 14]",284053.0,en,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380.0
92,92,"Nov 3, 2017",Thor: Ragnarok,"$180,000,000","$315,058,289","$846,980,024","[28, 12, 35, 14]",284053.0,en,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380.0
95,95,"Nov 18, 2016",Fantastic Beasts and Where to Find Them,"$180,000,000","$234,037,575","$802,402,853","[12, 10751, 14]",259316.0,en,Fantastic Beasts and Where to Find Them,28.563,2016-11-18,Fantastic Beasts and Where to Find Them,7.4,12152.0
96,96,"Nov 18, 2016",Fantastic Beasts and Where to Find Them,"$180,000,000","$234,037,575","$802,402,853","[12, 10751, 14]",259316.0,en,Fantastic Beasts and Where to Find Them,28.563,2016-11-18,Fantastic Beasts and Where to Find Them,7.4,12152.0
109,109,"Jun 19, 2015",Inside Out,"$175,000,000","$356,461,711","$854,235,992","[18, 35, 16, 10751]",150540.0,en,Inside Out,24.797,2015-06-19,Inside Out,8.0,12691.0
110,110,"Jun 19, 2015",Inside Out,"$175,000,000","$356,461,711","$854,235,992","[18, 80]",70877.0,en,Inside Out,4.758,2011-09-27,Inside Out,4.4,18.0
114,114,"Nov 22, 2017",Coco,"$175,000,000","$209,726,015","$798,008,101","[16, 10751, 35, 12, 14]",354912.0,en,Coco,25.961,2017-11-22,Coco,8.2,8669.0
115,115,"Nov 22, 2017",Coco,"$175,000,000","$209,726,015","$798,008,101","[16, 10751, 35, 12, 14]",354912.0,en,Coco,25.961,2017-11-22,Coco,8.2,8669.0
141,141,"Nov 4, 2016",Doctor Strange,"$165,000,000","$232,641,920","$676,404,566","[28, 12, 14, 878]",284052.0,en,Doctor Strange,33.035,2016-11-04,Doctor Strange,7.3,12582.0
142,142,"Nov 4, 2016",Doctor Strange,"$165,000,000","$232,641,920","$676,404,566","[28, 12, 14, 878]",284052.0,en,Doctor Strange,33.035,2016-11-04,Doctor Strange,7.3,12582.0
143,143,"Nov 7, 2014",Big Hero 6,"$165,000,000","$222,527,828","$652,127,828","[12, 10751, 16, 28, 35]",177572.0,en,Big Hero 6,36.920,2014-11-07,Big Hero 6,7.8,10176.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5980,5980,"Jun 6, 2014",Test,"$250,000","$18,823","$18,823","[18, 10749]",226979.0,en,Test,2.130,2013-06-29,Test,7.2,37.0
5981,5981,"Jun 6, 2014",Test,"$250,000","$18,823","$18,823","[18, 878]",385129.0,en,Test,0.600,2014-09-27,Test,8.0,1.0
5982,5982,"Jun 6, 2014",Test,"$250,000","$18,823","$18,823",[18],278717.0,ru,Испытание,1.176,2014-10-10,Test,7.3,8.0
5986,5986,"Oct 5, 2010",Rust,"$250,000",$0,$0,[18],46252.0,en,Rust,0.660,2010-10-07,Rust,8.0,1.0
5987,5987,"Oct 5, 2010",Rust,"$250,000",$0,$0,[18],489991.0,pt,Ferrugem,4.110,2018-01-20,Rust,6.8,19.0
5994,5994,"Dec 31, 2014",Horse Camp,"$250,000",$0,$0,"[10751, 18]",306667.0,en,Horse Camp,0.600,2015-01-10,Horse Camp,5.5,2.0
5995,5995,"Dec 31, 2014",Horse Camp,"$250,000",$0,$0,"[10751, 18]",306667.0,en,Horse Camp,0.600,2015-01-10,Horse Camp,5.5,2.0
6005,6005,"Jul 20, 2012",Burn,"$225,000","$1,109,276","$1,109,276","[28, 80, 27, 53]",407874.0,en,Burn,0.600,2011-01-01,Burn,9.0,1.0
6006,6006,"Jul 20, 2012",Burn,"$225,000","$1,109,276","$1,109,276",[99],139948.0,en,Burn,1.958,2012-11-01,Burn,7.1,14.0
6019,6019,"Oct 12, 2012",Middle of Nowhere,"$200,000","$236,806","$236,806",[18],83588.0,en,Middle of Nowhere,1.620,2012-01-20,Middle of Nowhere,6.5,11.0
6020,6020,"Oct 12, 2012",Middle of Nowhere,"$200,000","$236,806","$236,806","[35, 18]",19688.0,en,Middle of Nowhere,4.046,2010-07-13,Middle of Nowhere,5.9,35.0
6026,6026,"Sep 9, 2005",Side Effects,"$200,000","$44,701","$44,701","[10402, 18]",337647.0,en,Side Effects,0.657,2013-10-29,Side Effects,7.3,2.0
6027,6027,"Sep 9, 2005",Side Effects,"$200,000","$44,701","$44,701","[53, 80, 18]",109421.0,en,Side Effects,9.426,2013-02-08,Side Effects,6.5,1879.0
6044,6044,"Jun 16, 2017",Arrowhead,"$180,000",$0,$0,"[28, 12, 9648, 878]",360799.0,en,Arrowhead,3.552,2017-06-23,Arrowhead,4.9,58.0
6045,6045,"Jun 16, 2017",Arrowhead,"$180,000",$0,$0,"[28, 12, 9648, 878]",360799.0,en,Arrowhead,3.552,2017-06-23,Arrowhead,4.9,58.0
6048,6048,"Aug 23, 2013",Sparrows Dance,"$175,000","$2,602","$2,602","[18, 35, 10749]",136466.0,en,Sparrows Dance,0.968,2013-08-23,Sparrows Dance,7.4,6.0
6049,6049,"Aug 23, 2013",Sparrows Dance,"$175,000","$2,602","$2,602","[18, 35, 10749]",136466.0,en,Sparrows Dance,0.968,2013-08-23,Sparrows Dance,7.4,6.0
6061,6061,"Aug 21, 2015",Top Spin,"$150,000","$5,858","$5,858",[99],331745.0,en,Top Spin,1.249,2014-11-15,Top Spin,6.9,10.0
6062,6062,"Aug 21, 2015",Top Spin,"$150,000","$5,858","$5,858",[99],331745.0,en,Top Spin,1.249,2014-11-15,Top Spin,6.9,10.0
6079,6079,"Feb 8, 1915",The Birth of a Nation,"$110,000","$10,000,000","$11,000,000",[18],339408.0,en,The Birth of a Nation,8.152,2016-10-07,The Birth of a Nation,6.5,328.0
6080,6080,"Feb 8, 1915",The Birth of a Nation,"$110,000","$10,000,000","$11,000,000",[18],339408.0,en,The Birth of a Nation,8.152,2016-10-07,The Birth of a Nation,6.5,328.0
6097,6097,"Mar 17, 2015",Closure,"$100,000",$0,$0,[53],206728.0,en,Closure,0.600,2013-01-18,Closure,5.0,2.0
6098,6098,"Mar 17, 2015",Closure,"$100,000",$0,$0,[99],284568.0,en,Closure,0.600,2013-12-01,Closure,8.0,1.0
6122,6122,"Feb 22, 2008",The Signal,"$50,000","$251,150","$406,299","[53, 878]",242095.0,en,The Signal,10.032,2014-06-13,The Signal,5.9,901.0
6123,6123,"Feb 22, 2008",The Signal,"$50,000","$251,150","$406,299",[],362308.0,en,The Signal,0.661,2015-07-08,The Signal,7.0,2.0
6130,6130,"Dec 31, 2014",The Image Revolution,"$50,000",$0,$0,[99],250902.0,en,The Image Revolution,1.313,2013-11-21,The Image Revolution,6.3,4.0
6131,6131,"Dec 31, 2014",The Image Revolution,"$50,000",$0,$0,[99],250902.0,en,The Image Revolution,1.313,2013-11-21,The Image Revolution,6.3,4.0
6143,6143,"Mar 18, 2016",Krisha,"$30,000","$144,822","$144,822",[18],259043.0,en,Krisha,0.600,2014-03-07,Krisha,9.0,1.0
6144,6144,"Mar 18, 2016",Krisha,"$30,000","$144,822","$144,822",[18],323929.0,en,Krisha,5.288,2016-03-18,Krisha,6.8,86.0
6145,6145,"Mar 18, 2016",Krisha,"$30,000","$144,822","$144,822",[18],323929.0,en,Krisha,5.288,2016-03-18,Krisha,6.8,86.0