This is a separate notebook made only for scraping a wikipedia chart of Academy-Award winning films.

In [3]:
import pandas as pd     
import requests
import lxml.html as lh

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films'
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [5]:
[len(T) for T in tr_elements[:12]]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

Parsing first row as our header

In [6]:
tr_elements = doc.xpath('//tr') 

col=[]                          #new list
i=0

for t in tr_elements[0]:        #for each element in the first ([0]) row, store each element as the header
    i+=1
    name=t.text_content()
    print ('%d:%s' % (i,name))  #%d - placeholder for number, %s placeholder for string 
    col.append((name,[]))       #also [] as an empty list

1:Film

2:Year

3:Awards

4:Nominations

In [7]:
for n in range(1,len(tr_elements)): #since first row is header, we are iterating through the 2nd row (1)
    T=tr_elements[n]                #T is our j'th row
    if len(T)!=4:                   #if row != 4, data is not from our table( we checked this in the cell above)
        break
        
    i=0                   # index of our column
    
                                #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        if i>0:                 #Check if row is empty
            try:
                data=int(data)  #Convert any numerical value to integers
            except:
                pass
        col[i][1].append(data)  #Append the data to the empty list of the i'th column
        i+=1                    #Increment i for the next column

In [8]:
[len(C) for (title,C) in col]   #checking length of each column

[1316, 1316, 1316, 1316]

Create DataFrame of our scraped table!

In [23]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

,Film\n,Year\n,Awards\n,Nominations\n
0,Parasite,2019,4,6
1,Ford v Ferrari,2019,2,4
2,Learning to Skateboard in a Warzone (If You're...,2019,1,1
3,The Neighbors' Window,2019,1,1
4,Little Women,2019,1,6
...,...,...,...,...
1311,The Yankee Doodle Mouse,1943,1,1
1312,The Yearling,1946,2,7
1313,"Yesterday, Today and Tomorrow (Ieri, oggi, dom...",1964,1,1
1314,You Can't Take It with You,1938,2,7
1315,Zorba the Greek (Alexis Zorbas),1964,3,7

In [9]:
pwd

'/Users/orin/Data Science/MODULE 1/Module-1-Project/Movie_Analysis'

In [40]:
df.to_csv('films_by_awards.csv')
df.to_csv('/Users/orin/Data Science/MODULE 1/Module-1-Project/Movie_Analysis/films_by_awards.csv')